*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
.widget-container{
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #4facfe, #00f2fe);
    color: white;

}
.search-panel{
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-panel input{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-icon{
    width: 40px;
    height: 40px;
    background: white;
    padding: 8px;
    border-radius: 50%;
}
.weather-icon{
    text-align: center;
    margin: 20px 0;
}

.weather-icon img{
    width: 80px;
}
.temperature-details{
    text-align: center;
}

.temperature-details h1{
    font-size: 40px;
}

.temperature-details h2{
    font-weight: normal;
}

.bottom-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-box img{
    width: 30px;
}